body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #3498db;
}

.navbar-brand {
    color: #ecf327 ;
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #0f0d0d ;
}

h1 {
    color: #333333;
}

p {
    font-size: 18px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
